body {
    font-family: 'Arial', sans-serif;
    background-image: url('');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #000;
    overflow-x: hidden; /* Hide horizontal overflow */
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1em 0;
    z-index: 1;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px; /* Decreased font size for tabs */
    padding: 0.4em 0.6em; /* Adjusted padding for smaller tabs */
    transition: color 0.5s ease;
}

nav li {
    margin: 0 0.5em; /* Adjusted margin for smaller tabs */
}


nav a:hover {
    color: #ffd700; /* Change color on hover */
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 14px;
}

input, select, button {
    width: calc(25% - 2em); /* Adjusted width for smaller input fields */
    padding: 0.8em; /* Adjusted padding for smaller input fields */
    margin-bottom: 1em;
    border: 3px solid #ddd;
    border-radius: 9pxpx;
    font-size: 18px;
}

select, button {
    cursor: pointer;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}